<button (click)="toggleFontSizeMenu($event)">Change font size</button>
<div *ngIf="isFontSizeMenuOpened" class="font-size-menu">
  <div>
    <input
      autofocus
      type="radio"
      name="font-size"
      value="`"
      (change)="selectedFontSize = '16px'"
      [attr.checked]="selectedFontSize === '16px' ? 'checked' : null"
    />
    <span> Small </span>
  </div>
  <div>
    <input
      type="radio"
      name="font-size"
      value="18px"
      (change)="selectedFontSize = '18px'"
      [attr.checked]="selectedFontSize === '18px' ? 'checked' : null"
    />
    <span> Medium </span>
  </div>
  <div>
    <input
      type="radio"
      name="font-size"
      value="20px"
      (change)="selectedFontSize = '20px'"
      [attr.checked]="selectedFontSize === '20px' ? 'checked' : null"
    />
    <span> Large </span>
  </div>
</div>

<div [style.font-size]="selectedFontSize" class="testclass">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quasi
    molestiae repudiandae ut dignissimos porro pariatur officiis? Pariatur
    voluptatem repellat perferendis non doloremque eligendi blanditiis, rerum
    harum tenetur delectus. Voluptatem.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi
    asperiores officia saepe nemo porro ea facere ipsum nulla dignissimos quidem
    necessitatibus laudantium, maiores fugiat quis repellendus, molestiae totam
    magni?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem
    repellat, doloribus necessitatibus odit illum et corrupti dolor, neque odio
    maxime, earum alias deleniti aperiam molestiae accusantium doloremque ipsam!
    Nobis.
  </p>
</div>
