.container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.item {
  width: 100px;
  height: 100px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
