/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import "~primeicons/primeicons.css";

*{
    margin: 0;
    font-family: Inter;
    box-sizing: border-box;
}
