<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<p>demo-dialog works!</p>
<button (click)="closeDialog()">Cancel</button>
